


<div id="content" style="max-width:900px;margin:0 auto;">
    
    <div style="font-weight: bold;">{{ data.symbol }} {{ data.Name }}</div> 
	<div>
		<span>${{data.LastTradePriceOnly}}</span> <span ng-class="data.Change < 0 ? 'red':'green' ">{{data.Change}} ({{data.ChangeinPercent}})</span>
	</div>
	
	<nvd-line-chart val="exampleData" width="800" lastprice="{{previousPrice}}" height="500">	
	</nvd-line-chart>
	
	<table class="table">				
		<tbody>
			<tr><td class="col-xs-6">Day Range</td><td class="col-xs-6" style="text-align: right">{{ data.DaysRange}}</td></tr>
			<tr><td class="col-xs-6">52w Range</td><td class="col-xs-6" style="text-align: right">{{ data.YearRange}}</td></tr>
			<tr><td class="col-xs-6">E.P.S</td><td class="col-xs-6" style="text-align: right">{{ data.EarningsShare}}</td></tr>
			<tr><td class="col-xs-6">PE</td><td class="col-xs-6" style="text-align: right">{{ data.PERatio}}</td></tr>
			<tr><td class="col-xs-6">DIV</td><td class="col-xs-6" style="text-align: right">{{ data.DividendShare}}</td></tr>
			<tr><td class="col-xs-6">Yield</td><td class="col-xs-6" style="text-align: right">{{ data.DividendYield}}</td></tr>
			<tr><td class="col-xs-6">Market Cap</td><td class="col-xs-6" style="text-align: right">{{ data.MarketCapitalization}}</td></tr>
			<tr><td class="col-xs-6">Volume</td><td class="col-xs-6" style="text-align: right">{{ data.Volume}}</td></tr>
			<tr><td class="col-xs-6">1y Target Est</td><td class="col-xs-6" style="text-align: right">{{ data.OneyrTargetPrice}}</td></tr>
					
       </tbody>
	</table>
</div>