h3 {
	margin-left: 20px;
}
.footer {
  
	position: fixed;
	bottom: 0;

  
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #e5e5e5;
}

.footer > .container {
	padding-top: 10px;
	text-align: center;
}

.red {
	color:red;
}

.green {
	color:#22B500;
}

.angucomplete-row .angucomplete-title  {
  PADDING: 5PX 0PX;
  BORDER-BOTTOM: 1PX SOLID #CCC;
  }